<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Artifactory Nuget Central" value="https://repo.sebank.se/artifactory/api/nuget/nuget-central" />
  </packageSources>
</configuration>